<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="encryptPassword" value="e|7TIL@*M5BeBn;5fqR.m$L7OeY9;;qA`AI#r4g=p|{JWFJ.p>'Q]PikUEA/mhk"/>
    <add key="flPassword"  value="EAAAAOJunV+hsQihmRhLSoAQTMJGiDypdPoXDiMEhevKSzvnOPW7cJcc/t0rFW8iD3gFzg=="/>
    <add key="flUser" value="Megatron4FL"/>
    <add key="downloadMusicNfoPath" value="C:\Users\mteodorescu\Downloads\pics\"/>
  </appSettings>
</configuration>