
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>NFO Generator</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="done" />
</form>